version: '3'
services:
  php:
    build: ./docker/php
    volumes:
      - ./:/var/www
      - composer:/root/.composer/cache
    depends_on:
      - postgres

  nginx:
    image: nginx:latest
    restart: always
    volumes:
      - ./:/var/www
      - ./docker/nginx/config:/etc/nginx/conf.d
      - ./docker/nginx/logs:/var/log/nginx
    depends_on:
      - php
    ports:
      - 8080:80
      - 443:443

  postgres:
    image: postgres:11.2-alpine
    volumes:
      - postgres:/var/lib/postgresql/data
    ports:
      - 54321:5432
    environment:
      POSTGRES_USER: root
      POSTGRES_PASSWORD: root
      POSTGRES_DB: project
volumes:
  postgres:
  composer:
